@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/POPPINS-REGULAR.TTF);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 2px solid red; */
}
body {
  background-color: #f9f9f9;
  font-family: Poppins;
}
