footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
span.copyright {
  color: #8692a6;
  margin-left: 24.305%;
}
@media (max-width: 768px) {
  span.copyright {
    margin-left: 5.9027%;
  }
}
.currency_toggle {
  display: grid;
  grid: auto/ 30% 70%;
  place-items: center;
  width: 167px;
  height: 42px;
  margin-right: 5.9027%;
  border: 1px solid #8692a6;
  border-radius: 6px;
}
.currency_toggle:active {
  border: 2px solid black;
}
.currency_toggle img {
  height: 55%;
}
select#currency {
  background-color: inherit;
  border: none;
  width: 94.9%;
  height: 100%;
}
select#currency:focus,
select#currency:active {
  border: none;
}
